div.date {
    font-size: 12px;
    margin-top: 30px;
}

li {
    text-decoration: none;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    transition-duration: .15s;
}

li a:active {
    color: gray;
}

article li {
    list-style-type: unset
}

article h1 {
    font-size: 40px;
}

article h2 {
    font-size: 35px;
}

article h3 {
    font-size: 30px;
}

article h4 {
    font-size: 25px;
    margin: 0;
}