body {
    font-family: "Calibri", sans-serif;
    background-attachment: fixed;
    margin: 0;
    background-color: black;
    color: white;
}

@media (min-width: 979px) {
    /* Large desktop */
    .blurb {
        margin-left: 15%;
        margin-right: 15%;
    }

    .container img {
        max-height: 600px;
    }

    .parallax {
        height: 600px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /* Portrait tablet to landscape and desktop */
    .blurb {
        margin-left: 8%;
        margin-right: 8%;
    }

    .container img {
        max-height: 600px;
    }

    .parallax {
        height: 600px;
    }
}

@media (max-width: 767px) { 
    /* Landscape phone to portrait tablet */
    .blurb {
        margin-left: 1%;
        margin-right: 1%;
    }

    .container img {
        max-height: 400px;
    }

    .parallax {
        height: 400px;
    }
}

.container {
    margin-top: 4em;
    margin-bottom: 1em;
    font-size: 1.35em;
}

h1, h2, h3 {
    margin: 0;
}

.container img {
    width: 100%;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.container p img {
    float: right;
    width: fit-content;
}

.parallax {
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
    background: no-repeat 50% 50%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.bg canvas {
    vertical-align: bottom;
    display: block;
}

h2 button {
    margin: 3px 15px;
    height: 35px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Calibri';
    border-radius: 5px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition-duration: .15s;
    outline: none;
}

h2 button:hover {
    background: white;
    color: black;
}

h2 button:active {
    background: white;
    color: black;
    transform: scale(0.95);
}

button {
    border-radius: 5px;
    padding: 5px;
    background: none;
    border: none;
    transition-duration: .1s;
    outline: none;
}

button:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

button:active {
    background-color: rgba(76, 76, 76, 0.25);
}
.parallax {
    min-height: 400px;
    background: transparent;
}

p.credits {
    margin-top: 25px;
    text-align: center;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.65);    
    user-select: text;
}

div.games {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}

div.games div.game {
    border: 1px solid;
    flex-grow: 1;
    margin-right: 25px;
    margin-bottom: 25px;
    max-width: 200px;
    width: 200px;
    height: 300px;
    background: var(--bg);
    padding: 15px;
    background-size: cover;
    background-position: center;
    transition-duration: .1s;
    background-blend-mode: darken;
    user-select: none;
}

div.games div.game:last-child {
    margin-right: 0;
}

div.games div.game:hover {
    box-shadow: 0 0 10px 10px white;
    background-color: rgba(0, 0, 0, 0.25)
}

div.games div.game:active {
    box-shadow: 0 0 10px 5px white;
    background-color: rgba(0, 0, 0, 0.5)
}

div.games div.game p.name {
    margin: 0;
}

div.games div.game p.desc {
    opacity: 0;
    transition-duration: .15s;
    margin: 0;
    font-size: 14px;
}

div.games div.game:hover p.desc, div.games div.game:active p.desc {
    opacity: 1;
}

div.games div.game.open {
    position: fixed;
    max-width: none;
    width: calc(100vw - 52px);
    height: calc(100vh - 92px);
    left: 0;
    top: 40px;
}
