.menu {
    height: 40px;
    padding-left: 5px;
    border-bottom: 2px solid black;
    overflow: scroll;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu a {
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    margin: 5px 0;
    background: white;
    transition-duration: .15s;
    user-select: none;
}

.menu a:hover {
    color: white;
    background: black;
}

.menu a:active {
    color: white;
    background: gray;
}
