.menu {
    height: 40px;
    border-bottom: 2px solid white;
    overflow: scroll;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 9;
    background: black;
    cursor: pointer;
}


@media (min-width: 979px) {
    /* Large desktop */
    .menu {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /* Portrait tablet to landscape and desktop */
    .menu {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width: 767px) { 
    /* Landscape phone to portrait tablet */
    .menu {
        padding-left: 1%;
        padding-right: 1%;
    }
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu a {
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    margin: 5px 0;
    background: black;
    transition-duration: .15s;
    user-select: none;
}

.menu a:hover {
    color: black;
    background: white;
}

.menu a:active {
    color: white;
    background: gray;
}
