div.gbvsc-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 19.6%;
}

div.gbvsc-container div.gbvsc {
  flex-grow: 1;
  height: 300px;
  background: var(--bg);
  background-size: contain;
  border: 1px solid white;

}

div.gbvsc-container div.gbvsc:hover {
  flex-grow: 2;
}