div.gbvsc-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.gbvsc-container div.gbvsc {
  flex-grow: 1;
  height: 300px;
  background: var(--bg);
  background-size: contain;
  border: 1px solid white;
  margin: 5px;
  transition-duration: .15;
}

div.gbvsc-container div.gbvsc:hover {
  flex-grow: 2;
}

@media (max-width: 979px) {
  div.gbvsc-container {
      margin: 0 25%;
  }
}

@media (max-width: 768px) {
  div.gbvsc-container {
      margin: 0 15%;
  }
}

@media (max-width: 500px) {
  div.gbvsc-container {
      margin: 0 1%;
  }
}