.rena {
    text-align: center;
    color: white;
}


.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 200;
    color: black;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: -10;
    color: black;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


.container {
    text-align: center;

}

#icon {
    cursor: pointer;
}

.round {
    border-radius: 25px; /* Радиус скругления */
    border: 2px solid #980027; /* Параметры рамки */
    box-shadow: 0 0 7px #980017; /* Параметры тени */
}   

/*
.popup .overlay {
    position: fixed;
    top: 0px; 
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(red, green, blue, alpha);
    z-index: 1;
    display: none;
}
.popup .content { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}
.popup.active .overlay {
    display: block;
}
.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
*/
.contaner { 
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transition: 0.5s;
    padding: 20px;
}
.contaner#blur.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;

}
.contaner .content {
    position: relative;
    max-width: 800px;
}
a {
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color:#980017;
    background: #111;
}
#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(red, green, blue, alpha);
    background: violet;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;

}