.rena {
    text-align: center;
    color: white;
}


.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 200;
    color: black;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: -10;
    color: black;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}
@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


.container {
    text-align: center;

}

.btn {
    border: 1px solid #980027; 
    background: none;
    padding: 10px 20px; 
    cursor: pointer; 
    margin: 10px; 
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1 {
    color: #980027; 
}
.btn1:hover {
    color: black; 

}
.btn::before {
    content:"";
    position: absolute; 
    left: 0; 
    weight: 100%;
    height: 0%;
    background: #980027; 
    z-index: -1;
    transition: 0.8s;
}
.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before { 
    height: 180%;
}


#icon {
    cursor: pointer;
}