<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SmA - {{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/menu.css">

    <link rel="stylesheet" href="/css/sraka/s1.css">
    <link rel="stylesheet" href="/css/sraka/s2.css">

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
</head>

<body>
    <div class="menu">
        <a onclick="link('/index.html')">Home</a>
        <a onclick="link('/projects/index.html')">Projects</a>
        <a onclick="link('/games/index.html')">Games</a>
        <a onclick="link('/web/index.html')">Web</a>
        <a onclick="link('/memories/index.html')">Memories</a>
    </div>
    <canvas class="bg"></canvas>
    <script>
    Particles.init({
	    selector: '.bg',
	    color: '#555555',
	    connectParticles: true,
	    speed: 0.15,
	    maxParticles: 200
    })
    </script>
    <div class="container">
        {{ content }}
    </div>
</body>

</html>
